.title img {
  width: 0.66rem;
  height: 0.64rem;
}

 section {
    margin-top: 0.37rem;
 }

 section .dprize_title {
   color: #E93E3E;
 }

 section .prize_wt {
   color: #F4F4F4;
 }
 section .prize_wt{
   margin-top: 0.55rem;
   margin-bottom: 0.15rem
 }
 section .prize_img{
   width:3.50rem;
   margin:0.63rem auto 0.8rem;

 }
 section .prize_img img{
   width:100%;
 }
 .next {
   margin-bottom: 0.37rem;
 }